NEXT_PUBLIC_SUPABASE_URL=https://kfgkfurjhumggyuhdipp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTYzODI0MDk0OCwiZXhwIjoxOTUzODE2OTQ4fQ.rZVNg8TPM1KJVHr8wBZEbsrq7ZAmmSn05kxrGBi4xy0